#title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

#titleSpan {
    font-family: 'Courier New', Courier, monospace;
    color: lightgreen;
}

div#nav-bar {
    border-radius: 10px;
    text-align: right;
    background-color: brown;
    height: 50px;
}

div.weapon{
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: coral;
    border: solid black;
}

a.weapon{
    position: relative;
    text-align: center;
    top: 5px;
    text-decoration: none;
    color: brown;
}

div.weaponLink{
    border-radius: 10px;
    border: solid black;
    width: 100px;
    height: 50px;
    position: relative;
    top: 100px;
    left: 100px;
    background-color: yellow;
}

div.weaponImage{
    position: relative;
    top: 60px;
    left: 50px;
    border: solid black;
    width: 200px;
    height: 100px;
}

a.navButton{
    color: green;
    text-decoration: none;
    font-size: 28px;
    position: relative;
    right: 10px;
    margin: 5px;
    top: 5px;
}

a#navDropDown{
    position: relative;
    right: 200px;
}

div.navDropDownContent{
    display: none;
}

a#navDropDown:hover div.navDropDownContent{
    display: block;
    color: white;
}

div.weaponName{
    position: relative;
    top: 20px;
    font-size: 28px;
}

img#brokenScreen{
    width: 300px;
    height: 300px;
    position: fixed;
    left: 80%;
}

img#bloodImage1{
    background: transparent;
    background-color: grey;
    width: 300px;
    height: 300px;
    position: fixed;
    left: 5%;
}

img.weaponImage{
    width: 200px;
    height: 100px;
}

table.weapons{
    border-radius: 25px;
    background-color: lightgreen;
    position: relative;
    left: 29%;
    border-spacing: 50px;
    border-collapse: seperate;
    border: solid black;
}

td.tableTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}