#title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

#titleSpan {
    font-family: 'Courier New', Courier, monospace;
    color: lightgreen;
}

div#nav-bar {
    text-align: right;
    background-color: black;
    height: 30px;
}

div.weapon{
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: coral;
    border: solid black;
}

a.weapon{
    position: relative;
    text-align: center;
    top: 5px;
    text-decoration: none;
    color: brown;
}

div.weaponLink{
    border-radius: 10px;
    border: solid black;
    width: 100px;
    height: 50px;
    position: relative;
    top: 120px;
    left: 100px;
    background-color: yellow;
}

div.weaponImage{
    position: relative;
    top: 50px;
    left: 45px;
    border: solid black;
    width: 200px;
    height: 100px;
}

img.weaponImage{
    width: 200px;
    height: 100px;
}

table.weapons{
    border-radius: 25px;
    background-color: lightgreen;
    position: relative;
    left: 29%;
    border-spacing: 50px;
    border-collapse: seperate;
    border: solid black;
}

td.tableTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}