body {
    background-color: grey;
}

div.cart_link{
    position: relative;
    top: 10px;
    left: 65%;
}

a.cart_link {
    color: brown;
    text-decoration: none;
    position: relative;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: orange;
}

h1#title {
    color: brown;
    font-size: 30px;
    text-align: center;
}

div#weaponImage {
    position: relative;
    right: -3px;
}

#wpImg {
    border-radius: 15px;
    width: 600px;
    height: 300px;
}

table.weaponSpecs {
    border: 1px solid black;
    background-image: url('/images/worktable.jpg');
    border-radius: 15px;
    position: relative;
    left: 10%;
}

td.weaponPrice{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

td.weaponDescription{
    font-size: 22px;
}

td.weaponMeta{
    font-size: 20px;
}

td.weaponText{
    color: whitesmoke;
}