<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Midnight</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body style='background-color: grey;'>
    <div id='nav-bar'>
        <nav id='nav-bar'>
            <a href="#" class='navButton' id='navDropDown'>Categories</a>
            <div class='navDropDownContent'>
                <a href="#">Handguns</a>
                <a href="#">Assault</a>
                <a href="#">Shotguns</a>
            </div>
            <a href="#" class='navButton'>Login</a>
            <a href="#" class='navButton'>Register</a>
        </nav>
    </div>

    <h1 id='title'>
        Welcome to <span id='titleSpan'>Midnight!</span>
    </h1>

    <img src="./images/blood.png" id='bloodImage1' alt="">

    <img src="./images/brokenScreen.png" id='brokenScreen' alt="">

    <table class='weapons'>
        <tr>
            <td class='tableTitle' colspan='2'>
                Catalog
            </td>
        </tr>
        <tr>
            <td>
                <div class='weapon'>
                    <div class='weaponName'>
                        AK47
                    </div>

                    <div class='weaponImage'>
                        <img class='weaponImage' src="./images/ak47.jpeg" alt="AK 47">
                    </div>

                    <div class='weaponLink'>
                        <b><a href="#" class='weapon'>View weapon</a></b>
                    </div>
                </div>
            </td>

            <td>
                <div class='weapon'>
                    <div class='weaponName'>
                        Thomas automatic
                    </div>

                    <div class='weaponImage'>
                        <img class='weaponImage' src="./images/tomygun.jpeg" alt="AK 47">
                    </div>

                    <div class='weaponLink'>
                        <b><a href="#" class='weapon'>View weapon</a></b>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class='weapon'>
                    <div class='weaponName'>
                        P90
                    </div>

                    <div class='weaponImage'>
                        <img class='weaponImage' src="./images/p90.PNG" alt="AK 47">
                    </div>

                    <div class='weaponLink'>
                        <b><a href="#" class='weapon'>View weapon</a></b>
                    </div>
                </div>
            </td>

            <td>
                <div class='weapon'>
                    <div class='weaponName'>
                        M4A1
                    </div>

                    <div class='weaponImage'>
                        <img class='weaponImage' src="./images/m4a1.png" alt="AK 47">
                    </div>

                    <div class='weaponLink'>
                        <b><a href="#" class='weapon'>View weapon</a></b>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>