<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/weapon.css">
    <title>Document</title>
</head>

<body>
    <h1 id='title'>
        AK47
    </h1>

    <table class='weaponSpecs'>
        <tr>
            <td rowspan="3">
                <div id='weaponImage'>
                    <img src="/images/ak47.jpeg" alt="" id='wpImg'>
                </div>
            </td>

            <td class='weaponPrice'>
                Price: 300$
            </td>
        </tr>

        <tr>
            <td>
                Don't you fucking mess with me, boe!
            </td>
        </tr>
        <tr>
            <td>
                Don't you fucking mess with me, boe!
            </td>
        </tr>
    </table>

    <div>

    </div>
</body>

</html>