<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/weapon.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>

<body>
    <div id='nav-bar'>
        <nav id='nav-bar'>
            <a href="/" class='navButton'>Midnight</a>
            <a href="#" class = 'navButton' id = 'navDropDown'>Categories</a>
            <div class='navDropDownContent'>
                <a href="#">Handguns</a>
                <a href="#">Assault</a>
                <a href="#">Shotguns</a>
            </div>
            <a href="/register" class = 'navButton'>Login</a>
            <a href="/login" class = 'navButton'>Register</a>
        </nav>
    </div>

    <h1 id='title'>
        AK47
    </h1>

    <table class='weaponSpecs'>
        <tr>
            <td rowspan="3">
                <div id='weaponImage'>
                    <img src="/images/ak47.jpeg" alt="" id='wpImg'>
                </div>
            </td>

            <td class='weaponText weaponPrice'>
                Price: 300$
            </td>
        </tr>

        <tr>
            <td class='weaponText weaponDescription'>
                <span style='color: red; font-size: 24px;'>Description:</span><br>
                This weapon is an assault rifle used in military and also in minor<br>organisations such as terrsorist organisations.
            </td>
        </tr>
        <tr>
            <td class='weaponText weaponMeta'>
                <span style='color: red; font-size: 24px;'>Other info:</span><br>
                It has never been used, brand new.
            </td>
        </tr>
    </table>
    
    <div class='cart_link'>
        <a href="/cart" class='cart_link'>Add to cart</a>
    </div>

    <script src='./js/navButtonHover.js'></script>
</body>

</html>